@media only screen and (max-width: 667px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    background-image: url(images/achtergrond.png);
    background-size: cover;
  }
  -html -header header {
    display: flex;
    justify-content: space-between;
  }
  nav {
    display: flex;
  }
  nav img {
    width: 15%;
    height: 15%;
    justify-content: space-between;
  }
  .logo {
    float: left;
    width: 25%;
    height: 25%;
  }
  h1 {
    border-top: 4ex;
  }
  h1, h2 {
  font-family: "portofino", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-top: 2ex;

  }
  .poezenboot {
    width: 50%;
    height: 50%;
    background: color #607ebf;
  }
  p {
    font-family: "finalsix", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  ul {
    list-style-type: none;
    display: flex;
  }
  li {
    font-family: "finalsix", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: space-between;

  }
  div {
    font-family: "finalsix", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  -nav -main .paragraaf {
    display: flex;
  }
  .links {
    justify-content:flex-start;
  }
  .adopteermij {
    max-width: 10em;
    max-height: 10em;
    border-style: ridge;
    border-color: black;
    border-width: 1em;
    

  }
 .adopteertekst {
    display: flex;
    align-items: end;
    flex-direction: column;
    
 }
 .poep  {
    display: flex;
    flex-direction: row;

 }
  -footer footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer img {
    display: block;
    margin-left: auto;

    width: 25%;
    height: 25%;
  }
}
